body{
     height: 100vh;
     background-color: rgb(226, 221, 253);
     scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px; /* Espaço entre itens */
}

/* Itens do menu */
.nav-item {
  position: relative;
  font-weight: 700;
  color: rgb(0, 0, 68);
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Efeito ao passar o mouse */
.nav-item:hover {
  transform: scale(1.2);
}

/* Linha animada embaixo do item ao passar o mouse */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: royalblue;
  transition: 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

#Início{
    text-align: center;
}
h1, h2, h3{
    text-align: center;
}

